@import '../libraries/variables';

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $headerHeight;
    z-index: 9;
    background: linear-gradient(-180deg, $main, $sub1);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 0.8125rem;

    a {
        text-decoration: none;
        color: $text;
    }

    .header_wrapper {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.header_navbar {
    display: flex;
    justify-content: space-between;
    color: $text;
    height: 34px;

    .hover_eff--blur:hover {
        opacity: 0.7;
    }

    .header_navbar_connects {
        display: flex;
        width: fit-content;
        align-items: center;
        margin-top: -2px;
        margin-left: -5px;

        > div {
            height: fit-content;
            margin: 0 5px;
            position: relative;

            &:last-of-type {
                padding-left: 4px;
            }
        }

        a {
            padding: 4px;
        }

        > a {
            padding-right: 8px;
            margin-left: -4px;
            margin-top: 2px;

            i {
                font-size: 1.1rem;
            }
        }

        div + div {
            position: relative;

            &::after {
                position: absolute;
                top: 50%;
                left: -6px;
                transform: translateY(-40%);
                content: '';
                height: 12px;
                border: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
    }

    .header_navbar_supports {
        display: flex;
        align-items: center;
        margin-top: -1px;

        ul {
            display: flex;
            height: 100%;
            align-items: center;

            & > *:not(& li:first-child) {
                padding: 0 10px;

                &:last-child {
                    border-left: 1px solid rgba(255, 255, 255, 0.5);
                }
            }

            li {
                > div:first-child {
                    display: flex;
                    height: fit-content;
                    align-items: center;
                    cursor: pointer;

                    .navbar_supports_bell {
                        height: 18px;
                        width: 14px;
                        fill: $text;
                    }

                    .navbar_supports_globe {
                        height: 16px;
                        width: 16px;
                    }

                    .navbar_supports_chevron {
                        height: 12px;
                        width: 12px;
                        fill: $text;
                    }
                }

                &:first-child {
                    margin-right: -2px;
                }
            }

            .navbar_supports_help {
                height: 18px;
                width: 18px;
                fill: $text;
            }

            a span {
                height: fit-content;
                align-self: center;
            }

            span {
                font-size: 0.8125rem;
            }

            svg {
                font-size: 1.125rem;
                margin-right: 5px;

                &:last-child {
                    margin: 9px 0 9px 5px;
                }
            }

            .fa-solid {
                font-size: 1rem;
            }
        }
    }
}

.navbar_connects_download {
    > a {
        position: relative;
        z-index: 9;
    }
    .connects_download_wrapper {
        position: absolute;
        top: -4px;
        left: 0;
        right: -5px;
        height: 50px;
        display: none;

        .connects_download_popover {
            position: absolute;
            top: 29px;
            width: 184px;
            padding: 2px;
            border-radius: 2px;
            flex-direction: column;
            background-color: #fff;
            z-index: 1;

            > img {
                width: 88%;
                margin: 11px;
            }

            .connects_download_apps {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 0 15px 8px;

                img {
                    margin-top: 9px;
                    width: 47%;
                }
            }
        }
    }
}

%popover_makeup {
    position: absolute;
    top: 99%;
    right: 0;
    z-index: 9;
    opacity: 0;
    transform: scale(0);
    transition: all 0.15s linear;
    transform-origin: top right;
}

%popover_wrapper_makeup {
    position: relative;
    top: 9px;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 32px rgba(3, 3, 3, 0.2);
}

.navbar_supports_notification {
    position: relative;

    .supports_notification_popover {
        @extend %popover_makeup;
        width: fit-content;

        .notification_popover_wrapper {
            @extend %popover_wrapper_makeup;
            height: 350px;
            width: 400px;
            cursor: pointer;

            .notification_popover_content {
                width: 100%;
                flex-grow: 1;
                display: flex;
                justify-content: center;

                .popover_content_wrapper {
                    width: fit-content;
                    height: fit-content;
                    display: flex;
                    align-self: center;
                    flex-direction: column;

                    img {
                        width: 100px;
                        height: 100px;
                        align-self: center;
                    }

                    span {
                        margin-top: 20px;
                        font-size: 0.875rem;
                    }
                }
            }

            .notification_popover_sign {
                width: 100%;
                height: 40px;
                display: flex;
                background-color: rgba(9, 9, 9, 0.05);

                div {
                    width: 50%;
                    height: 100%;
                    line-height: 40px;
                    text-align: center;
                    font-size: 0.875rem;

                    &:hover {
                        color: $sub2;
                        background-color: #ddd;
                    }
                }
            }
        }
    }
}

.navbar_supports_languages {
    position: relative;
    cursor: pointer;
    padding: 0 !important;

    .navbar_language_selected {
        padding: 0 10px;
    }

    .supports_languages_popver {
        @extend %popover_makeup;

        .popover_anchor {
            right: 24%;
        }

        .languages_popover_wrapper {
            @extend %popover_wrapper_makeup;
            width: 200px;
            height: 80px;
            cursor: pointer;

            .popover_language {
                width: 100%;
                flex-grow: 1;
                line-height: 40px;
                font-size: 0.875rem;
                padding-left: 10px;
                color: rgba(0, 0, 0, 0.9);
            }
        }
    }
}

.popover_anchor {
    position: absolute;
    right: 7%;
    z-index: 9;
    border-bottom: 10px solid #fff;
    border-top: 0px solid transparent;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
}

.header_search {
    height: 85px;
    display: flex;
    align-items: center;
    padding: 16px 0 10px;

    .header_search_logo {
        padding: 0 47px 0 7px;
        height: 59px;
        margin-top: -6px;

        svg {
            width: 148px;
            fill: $text;
        }
    }

    .header_search_container {
        width: 840px;
        height: 100%;

        .search_container_searchBox {
            padding: 3px;
            height: 40px;
            display: flex;
            position: relative;
            background-color: $text;

            form {
                height: 100%;
                position: relative;
                flex-grow: 1;
                padding: 0 10px;
            }

            .search_container_outline::before {
                content: '';
                position: absolute;
                top: -7px;
                right: 4px;
                bottom: -7px;
                left: -7px;
                outline: #000 solid 2px;
                border-radius: 2px;
            }

            input {
                height: 100%;
                width: 100%;
                border: none;
                font-size: 0.875rem;
                outline: none;
            }

            button {
                height: 34px;
                width: 60px;
                border: none;
                border-radius: 2px;
                background-color: $sub2;
                color: $text;
                cursor: pointer;

                &:hover {
                    background-color: #fb6445;
                }

                &:active {
                    background: #ee5130;
                    box-shadow: inset 0 2px 1px 0 rgb(0 0 0 / 5%);
                }
            }
        }

        .search_container_options {
            height: 29px;
            display: flex;
            align-items: center;

            a {
                line-height: 100%;
                font-size: 0.75rem;
                color: rgba($text, 0.9);

                &:not(&:first-child) {
                    margin-left: 13px;
                }
            }
        }
    }

    .header_search_cart {
        margin: 0 auto;
        display: flex;
        height: 100%;
        align-items: center;

        a {
            height: 46px;
            width: 41px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        svg {
            fill: $text;
            width: 26px;
            height: 26px;
            stroke: $text;
            margin: 0 6px 6px 0;
        }
    }
}

.search_container_recentSearches {
    z-index: 10;
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    width: 757px;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
    display: none;

    a {
        color: rgba(0, 0, 0, 0.87);
        font-size: 0.875rem;
        padding: 10px 15px 10px 10px;
        width: 100%;

        &:first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &:hover {
            background-color: #fafafa;
        }
    }
}

.search_cart_wrapper {
    position: relative;

    .search_cart_popover {
        @extend %popover_makeup;
        top: 83%;

        .popover_anchor {
            right: 2%;
        }

        .cart_popover_wrapper {
            @extend %popover_wrapper_makeup;
            width: 400px;
            height: 260px;
            justify-content: center;
            align-items: center;

            .cart_popover_content {
                display: flex;
                flex-direction: column;
                width: fit-content;

                img {
                    width: 100px;
                    height: 100px;
                }

                span {
                    font-size: 0.875rem;
                    margin-top: 30px;
                    color: rgba(0, 0, 0, 0.9);
                }
            }
        }
    }
}
