$gutter: 5px;

.grid {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@mixin col($width: 100%) {
    width: $width;
    padding: 0 $gutter;
    display: block;
}

.col-12 {
    @include col(100%);
}

.col-10 {
    @include col(83.33333%);
}

.col-9 {
    @include col(75%);
}

.col-8 {
    @include col(66.66667%);
}

.col-6 {
    @include col(50%);
}

.col-5 {
    @include col(20%);
}

.col-4 {
    @include col(33.33333%);
}

.col-3 {
    @include col(25%);
}

.col-2 {
    @include col(16.66667%);
}

.col-1 {
    @include col(8.33333%);
}
