@import '../libraries/variables';

#container {
    color: rgba(#000, 0.8);
    margin-top: $headerHeight;
    background-color: #f5f5f5;
}

.wrapper {
    width: 100%;
    padding-bottom: 70px;
    background: url('https://cf.shopee.vn/file/7de91e2132c3644f6bf53406678212c9') center top / 100%
        no-repeat;
}

.main {
    padding-top: 30px;

    .main_banner {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.main_banner_container {
    width: 100%;
    display: flex;
    overflow: hidden;
    height: fit-content;

    .main_banner_right {
        flex-grow: 1;
        margin-left: 5px;
        display: flex;
        flex-direction: column;

        a {
            width: 100%;
            height: 100%;

            &:last-child {
                margin-top: 5px;
            }
        }

        .banner_right_image {
            width: 100%;
            height: 100%;
        }
    }
}

.slider_wrapper {
    flex-grow: 2;
    height: 235px;
    overflow: hidden;
    position: relative;

    ul {
        width: 1300%;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        transition: all 500ms ease 0s;
        transform: translateX(calc(100% / -13)) translateX(0px);

        li {
            display: flex;
            width: calc(100% / 13);

            a {
                width: 100%;

                .slider_content_image {
                    height: 0;
                    width: 100%;
                    padding-top: 235px;
                }
            }
        }
    }

    .slider_button {
        z-index: 5;
        border: none;
        display: none;
        cursor: pointer;
        background-color: rgba(#000, 0.18);

        &:hover {
            background-color: rgba(#000, 0.32);
        }

        i {
            width: 35px;
            height: 60px;
            color: #fff;
            line-height: 60px;
            text-align: center;
            font-size: 1.188rem;
        }
    }

    .slider_button_back,
    .slider_button_next {
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
    }

    .slider_button_next {
        right: 0;
    }

    .slider_button_back {
        left: 0;
    }

    .slider_stardusts_container {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 1rem;
        display: flex;
        justify-content: center;

        .slider_stardust {
            opacity: 1;
            width: 10px;
            height: 10px;
            cursor: pointer;
            border-radius: 50%;
            background-color: hsla(0, 0%, 100%, 0.4);
            border: 1px solid hsla(0, 0%, 53.7%, 0.4);

            &:not(&:first-child) {
                margin-left: 0.5rem;
            }
        }

        .slider_stardust--active {
            border-color: $sub3;
            background-color: $sub3;
        }
    }
}

.main_banner_category {
    width: 100%;
    display: flex;
    margin-top: 10px;
    min-height: 108px;
    background-color: #fff;
    justify-content: space-around;

    a {
        width: 100px;
        color: inherit;
        text-decoration: none;

        &:hover {
            transform: translateY(-0.0625rem);
        }

        div:first-child {
            width: 45px;
            height: 45px;
            margin: 18px auto 8px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        div {
            overflow: hidden;
            max-width: 100px;
            margin: 0 auto 8px;
            text-align: center;
            font-size: 0.8125rem;
            line-height: 0.875rem;
            word-wrap: break-word;
        }
    }
}

.main_content {
    margin-top: 20px;

    .main_content_banner {
        a {
            width: 100%;

            div {
                height: 110px;
            }
        }
    }
}

.category_wrapper {
    width: 100%;
    height: 302px;
    position: relative;

    .category_container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;

        ul {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 140%;
            display: flex;
            list-style: none;
            transition: all 500ms ease 0s;
        }

        li {
            display: flex;
            width: calc(100% / 14);

            a {
                width: 100%;
                height: 100%;
                display: flex;
                text-decoration: none;
                flex-direction: column;
            }
        }
    }

    .carousel_button_next {
        right: 0;
        transform: translate(50%, -50%);
    }

    .carousel_button_back {
        left: 0;
        transform: translate(-50%, -50%);
    }

    .carousel_buttons {
        position: absolute;
        top: 50%;
        z-index: 8;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        color: rgba(#000, 0.64);
        background-color: #fff;
        box-shadow: 0 1px 12px 0 rgb(0 0 0 / 12%);
        transition: height, width, font-size 0.1s ease;
    }

    .carousel_buttons--hint {
        width: 25px;
        height: 25px;
        font-size: 0.6rem;
    }

    .carousel_buttons--active {
        width: 50px;
        height: 50px;
        font-size: 20px;
        line-height: 50px;
    }
}

.main_content_category {
    margin-top: 20px;
    background-color: #fff;

    .content_category_title {
        height: 61px;
        display: flex;
        font-size: 1rem;
        padding: 0 20px;
        font-weight: 500;
        align-items: center;
        color: rgba(#000, 0.54);
        border-bottom: 1px solid rgba(#000, 0.05);
    }

    .category_wrapper {
        height: 302px;

        ul {
            flex-wrap: wrap;
            flex-direction: column;
        }

        li {
            height: 50%;
            border-right: 1px solid rgba(#000, 0.05);
            border-bottom: 1px solid rgba(#000, 0.05);

            &:hover {
                border-color: rgba(0, 0, 0, 0.12);
                box-shadow: 0 0 0.8125rem 0 rgb(0 0 0 / 5%);
            }

            a {
                align-items: center;
                justify-content: center;
            }

            div {
                width: 70%;
                height: 56%;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }

            span {
                height: 38px;
                padding: 0 6px;
                margin-top: 4px;
                text-align: center;
                font-size: 0.875rem;
                line-height: 1.25rem;
                color: rgba(#000, 0.8);
            }
        }
    }
}

.main_content_flashsale {
    width: 100%;
    margin-top: 20px;
    background-color: #fff;

    .content_flashsale_header {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: end;
        padding: 12px 20px 18px;
        justify-content: space-between;
    }

    .flashsale_header_title {
        height: 100%;
        display: flex;
        justify-content: space-between;

        .header_title_logo {
            height: 30px;
            width: 130px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        .header_title_countdown {
            width: 102px;
            height: 30px;
            display: flex;
            margin-left: 2px;
            padding-bottom: 2px;
            align-items: center;
            flex-direction: row;
            justify-content: center;
        }
    }

    .title_countdown {
        width: 22px;
        height: 17px;
        display: flex;
        padding: 0 3px;
        overflow: hidden;
        margin-left: 6px;
        border-radius: 3px;
        background-color: #000;

        .countdown_slide {
            color: #fff;
            display: flex;
            margin-top: 1px;
            font-size: 0.87rem;
            flex-direction: column;
            transform: translateY(0);
            transition: transform 500ms linear;
        }

        .countdown_10 {
            margin-right: 1px;
            height: calc(7 * 16px);
        }

        .countdown_1 {
            height: calc(11 * 16px);
        }
    }

    .flashsale_header_seemore {
        color: $sub3;
        padding: 5px 7px;
        width: fit-content;
        font-size: 0.875rem;
        line-height: 0.875rem;
        text-decoration: none;

        svg {
            width: 0.6rem;
            height: 0.6rem;
            fill: currentColor;
        }
    }

    .category_wrapper {
        height: 248px;

        ul {
            width: calc(16 * (100% / 6));
        }

        li {
            padding: 0 15px;
            position: relative;
            width: calc(100% / 6);
        }

        a {
            color: $sub3;

            .flashsale_product_image,
            .flashsale_product_deal {
                width: 100%;
                height: 170px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }

            .flashsale_product_discount {
                position: absolute;
                top: 0;
                right: 0;
                width: 36px;
                height: 32px;
                font-size: 0.75rem;
                text-align: center;
                padding: 4px 2px 3px;
                line-height: 0.8125rem;
                background-color: rgba(255, 212, 36, 0.9);

                &::after {
                    position: absolute;
                    left: 0;
                    content: '';
                    top: calc(100% - 1px);
                    border-top: 1px solid transparent;
                    border-bottom: 4px solid transparent;
                    border-left: 18px solid rgba(255, 212, 36, 0.9);
                    border-right: 18px solid rgba(255, 212, 36, 0.9);
                }

                span {
                    color: #fff;
                }
            }

            .flashsale_product_detail {
                width: 100%;
                height: 100%;
                display: flex;
                padding: 15px 10px;
                text-align: center;
                flex-direction: column;

                .flashsale_product_price {
                    font-weight: 500;
                    padding-top: 3px;
                    height: 1.6875rem;
                    margin-bottom: 5px;
                    font-size: 1.125rem;

                    span {
                        margin-right: 2px;
                    }
                }

                .flashsale_product_sold {
                    position: relative;
                    flex-grow: 1;
                    width: 100%;
                    overflow: hidden;
                    border-radius: 8px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;

                    span {
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        color: #fff;
                        font-size: 0.75rem;
                        text-transform: uppercase;
                        transform: translateX(-50%);
                    }
                }

                .product_sold_process {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ffbda6;
                }
            }
        }
    }
}

.main_content_subbanner {
    margin-top: 20px;

    .content_subbanner_wrapper {
        width: 100%;
        height: 110px;
        display: flex;
        flex-direction: row;
        background-size: contain;
        background-position: center;

        a {
            height: 100%;
            width: calc(100% / 3);
        }
    }
}

.main_content_shopmall {
    margin-top: 20px;
    color: #d0011b;
    flex-direction: column;
    background-color: #fff;

    .content_shopmall_header {
        height: 61px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(#000, 0.05);

        .shopee_header_seeall {
            height: 100%;
            display: flex;
            color: inherit;
            flex-wrap: nowrap;
            margin-bottom: 2px;
            margin-right: 12px;
            align-items: center;
            flex-direction: row;
            font-size: 0.875rem;
            text-decoration: none;
        }
    }

    .shopmall_header_title {
        display: flex;

        a {
            color: inherit;
            margin-left: 5px;
            margin-right: 15px;
            font-size: 1.0625rem;
            text-decoration: none;
            text-transform: uppercase;
        }

        ul {
            height: 20px;
            display: flex;
            color: #333;
            font-size: 1rem;
            list-style: none;
            padding-left: 15px;
            flex-direction: row;
            border-left: 1px solid #d8d8d8;

            li {
                display: flex;
                margin-right: 15px;
                align-items: center;

                img {
                    width: 17px;
                    height: 17px;
                    margin-right: 6px;
                    margin-bottom: 1px;
                }
            }
        }
    }

    .seeall_icon_wrapper {
        display: flex;
        width: 1.125rem;
        height: 1.125rem;
        margin-left: 8px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: #d0011b;

        svg {
            fill: #fff;
            width: 0.5rem;
            stroke: #fff;
        }
    }

    .shopmall_content_slider {
        padding: 10px 0 0 10px;
    }

    .slider_wrapper {
        height: 462px;

        ul {
            width: 1000%;
            transform: translateX(-10%) translateX(0px);
        }

        li {
            width: 10%;
        }

        .slider_content_image {
            padding-top: 462px;
        }
    }

    .shopmall_content_category {
        padding: 0;
    }

    .category_wrapper {
        height: 472px;

        ul {
            flex-wrap: wrap;
            flex-direction: column;
            width: calc(8 * 100% / 4);
        }

        li {
            height: 50%;
            padding: 10px;
            width: calc(100% / 8);

            a {
                color: inherit;

                > div {
                    height: 100%;
                    padding: 100% 4px 8px;

                    div {
                        width: 100%;
                        overflow: hidden;
                        font-size: 1.1rem;
                        line-height: 27px;
                        text-align: center;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
                }
            }

            &:last-child {
                position: relative;

                a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    align-items: center;
                    flex-direction: row;
                    justify-content: center;

                    div {
                        padding: 0;
                        width: 1.375rem;
                        height: 1.375rem;
                    }
                }
            }
        }
    }
}

.main_content_topsearch {
    color: $sub3;
    margin-top: 24px;
    background-color: #fff;

    .content_topsearch_header {
        height: 61px;
        display: flex;
        padding: 0 20px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(#000, 0.05);
    }

    .topsearch_header_title {
        font-size: 1rem;
        text-transform: uppercase;
    }

    .topsearch_header_seemore {
        color: inherit;
        padding: 5px 7px;
        fill: currentColor;
        font-size: 0.875rem;
        text-decoration: none;

        svg {
            width: 0.6rem;
            height: 0.6rem;
        }
    }

    .content_topsearch_body {
        width: 100%;
        height: 290px;
    }

    .category_wrapper {
        height: 100%;

        ul {
            width: calc(20 * 100% / 6);

            li {
                padding-bottom: 25px;
                width: calc(100% / 20);
            }

            a {
                overflow: hidden;
                padding: 20px 10px 0;
            }

            .category_image {
                position: relative;
                height: 180px;
                width: 180px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;

                .topsearch_logo {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 32px;
                    height: 40px;
                }
            }

            .category_image_layout {
                height: 25px;
                color: #fff;
                line-height: 25px;
                text-align: center;
                font-size: 0.875rem;
                margin-top: calc(100% - 25px);
                background-color: rgba(#000, 0.26);
            }

            span {
                color: #555;
                margin-top: 20px;
                font-size: 1.125rem;
                word-wrap: break-word;
            }
        }
    }
}

.main_content_items {
    margin-top: 30px;

    .content_items_header {
        background-color: #fff;
        border-bottom: 1px solid rgba(#000, 0.05);
        box-shadow: 0 1px 1px 0 rgb(0 0 0 / 8%);
        height: 61px;
        display: flex;
        justify-content: start;

        .items_header_recommend {
            cursor: pointer;
            position: relative;
            padding: 15px 46px;

            .header_recommend_title {
                text-transform: uppercase;
                color: rgb(238, 77, 45);
                font-size: 1rem;
                height: 30px;
                line-height: 30px;
            }
        }

        .items_header_ads {
            cursor: pointer;
            position: relative;
            padding: 20px 46px;

            .header_ads_logo {
                height: 20px;

                img {
                    height: 100%;
                    width: 160px;
                }
            }
        }
    }

    .highlight_line {
        content: '';
        height: 4px;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        background-color: $sub3;
    }

    .content_items_body {
        width: 100%;
        padding: 0;
        overflow: hidden;
        position: relative;
        height: fit-content;

        .items_body {
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }

        .items_body_ads {
            opacity: 0;
            display: none;
        }

        li {
            margin-top: 10px;

            .item_wrapper {
                cursor: pointer;
                height: 282px;
                width: 100%;
                display: flex;
                position: relative;
                border: 1px solid transparent;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
                background-color: #fff;
                box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
                color: $sub3;

                &:hover {
                    border-color: $sub3;
                    transform: translateY(-1px);
                    z-index: 5;
                }

                > a {
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: inherit;
                }
            }
        }

        .recommend_item_image {
            height: 188px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .recommend_item_promotion {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .recommend_item_flag {
            position: absolute;
            top: 10px;
            left: -3px;
            height: 21px;
        }

        .recommend_item_discount {
            position: absolute;
            top: 0;
            right: 0;
            width: 36px;
            height: 32px;
            font-size: 0.75rem;
            text-align: center;
            padding: 4px 2px 3px;
            line-height: 0.8125rem;
            background-color: rgba(255, 212, 36, 0.9);

            &::after {
                position: absolute;
                left: 0;
                content: '';
                top: calc(100% - 1px);
                border-top: 1px solid transparent;
                border-bottom: 4px solid transparent;
                border-left: 18px solid rgba(255, 212, 36, 0.9);
                border-right: 18px solid rgba(255, 212, 36, 0.9);
            }

            span {
                color: #fff;
            }
        }

        .recommend_item_detail {
            padding: 8px;

            .item_title {
                font-size: 0.75rem;
                color: rgba(#000, 0.87);
                height: 27px;
                overflow: hidden;
                line-height: 14px;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                word-wrap: break-word;
            }

            .item_promotion {
                height: 15px;
                margin-top: 6px;
                width: 100%;
                background-size: 20px;
                background-position: left center;
                background-repeat: no-repeat;
            }

            .item_info {
                margin-top: 8px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .item_price {
                font-size: 1rem;
                color: inherit;

                span {
                    font-size: 0.75rem;
                }
            }

            .item_hisoricalSold {
                font-size: 0.75rem;
                color: rgba(#000, 0.54);
            }
        }

        .recommend_item_similar {
            position: absolute;
            top: calc(100% - 2px);
            left: -1px;
            right: -1px;
            border: 1px solid $sub3;
            z-index: 0;
            background-color: $sub3;
            height: 32px;
            display: flex;
            opacity: 0;

            a {
                text-decoration: none;
                text-align: center;
                width: 100%;
                color: #fff;
                line-height: 30px;
                text-align: center;
                font-size: 0.875rem;
            }
        }

        .items_body_seemore {
            a {
                margin: 26px auto 0;
                width: 390px;
                height: 40px;
                box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
                border: 1px solid rgba(#000, 0.09);
                color: #555;
                font-size: 0.875rem;
                background-color: #fff;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
                line-height: 40px;

                &:hover {
                    background-color: rgba(#000, 0.02);
                }

                &:active {
                    box-shadow: inset 0 2px 1px 0 rgb(0 0 0 / 5%);
                }
            }
        }
    }
}
