<div class='container_products'>
    <div class='grid'>
        <div class='row'>
            <div class='products_sidebar_filter col-2'>
                <form action=''>
                    <ul>
                        <label>
                            <input type='checkbox' />
                            T-shirt
                        </label>

                        <label>
                            <input type='checkbox' />
                            Books
                        </label>

                        <li>
                            <ul>
                                <label class='filter_input_container'>
                                    <input
                                        class='filter_input_black'
                                        type='checkbox'
                                        name=''
                                    />
                                    <span class='filter_input_checkmark'></span>
                                </label>

                                <label class='filter_input_container'>
                                    <input
                                        class='filter_input_white'
                                        type='checkbox'
                                        name=''
                                    />
                                    <span class='filter_input_checkmark'></span>
                                </label>

                                <label class='filter_input_container'>
                                    <input
                                        class='filter_input_red'
                                        type='checkbox'
                                        name=''
                                    />
                                    <span class='filter_input_checkmark'></span>
                                </label>

                                <label class='filter_input_container'>
                                    <input
                                        class='filter_input_blue'
                                        type='checkbox'
                                        name=''
                                    />
                                    <span class='filter_input_checkmark'></span>
                                </label>

                                <label class='filter_input_container'>
                                    <input
                                        class='filter_input_gray'
                                        type='checkbox'
                                        name=''
                                    />
                                    <span class='filter_input_checkmark'></span>
                                </label>
                            </ul>
                        </li>
                    </ul>
                </form>

                <div class='sidebar_filter_buttons'>
                    <button>Clear</button>
                    <button>Apply</button>
                </div>
            </div>

            <div class='grid col-10'>
                <div class='row'>
                    <div class='container_products_category col-12'>
                        <h2>
                            All products
                        </h2>

                        <div class='products_categoty_search'>
                            <div class='products_category_sort'>
                                <button>Sort</button>
                            </div>
                        </div>
                    </div>

                    <div class='col-3'>
                        <div class='container_products_wraper'>
                            <a href='#'>
                                <img
                                    src='https://i.pinimg.com/564x/c1/d1/10/c1d1105d3fd6c8c3bb6e2fae25a5a156.jpg'
                                    alt='best waifu'
                                />
                            </a>
                            <a href='#'>
                                <h3>Kurumi Tokisaki</h3>
                            </a>
                            <span>
                                My most favourite waifu.
                                <br />
                                You're all way in my heart
                            </span>
                        </div>
                    </div>

                    <div class='col-3'>
                        <div class='container_products_wraper'>
                            <a href='#'>
                                <img
                                    src='https://i.pinimg.com/564x/c1/d1/10/c1d1105d3fd6c8c3bb6e2fae25a5a156.jpg'
                                    alt='best waifu'
                                />
                            </a>
                            <a href='#'>
                                <h3>Kurumi Tokisaki</h3>
                            </a>
                            <span>
                                My most favourite waifu.
                                <br />
                                You're all way in my heart
                            </span>
                        </div>
                    </div>

                    <div class='col-3'>
                        <div class='container_products_wraper'>
                            <a href='#'>
                                <img
                                    src='https://i.pinimg.com/564x/c1/d1/10/c1d1105d3fd6c8c3bb6e2fae25a5a156.jpg'
                                    alt='best waifu'
                                />
                            </a>
                            <a href='#'>
                                <h3>Kurumi Tokisaki</h3>
                            </a>
                            <span>
                                My most favourite waifu.
                                <br />
                                You're all way in my heart
                            </span>
                        </div>
                    </div>

                    <div class='col-3'>
                        <div class='container_products_wraper'>
                            <a href='#'>
                                <img
                                    src='https://i.pinimg.com/564x/c1/d1/10/c1d1105d3fd6c8c3bb6e2fae25a5a156.jpg'
                                    alt='best waifu'
                                />
                            </a>
                            <a href='#'>
                                <h3>Kurumi Tokisaki</h3>
                            </a>
                            <span>
                                My most favourite waifu.
                                <br />
                                You're all way in my heart
                            </span>
                        </div>
                    </div>

                    <div class='col-3'>
                        <div class='container_products_wraper'>
                            <a href='#'>
                                <img
                                    src='https://i.pinimg.com/564x/c1/d1/10/c1d1105d3fd6c8c3bb6e2fae25a5a156.jpg'
                                    alt='best waifu'
                                />
                            </a>
                            <a href='#'>
                                <h3>Kurumi Tokisaki</h3>
                            </a>
                            <span>
                                My most favourite waifu.
                                <br />
                                You're all way in my heart
                            </span>
                        </div>
                    </div>

                    <div class='col-3'>
                        <div class='container_products_wraper'>
                            <a href='#'>
                                <img
                                    src='https://i.pinimg.com/564x/c1/d1/10/c1d1105d3fd6c8c3bb6e2fae25a5a156.jpg'
                                    alt='best waifu'
                                />
                            </a>
                            <a href='#'>
                                <h3>Kurumi Tokisaki</h3>
                            </a>
                            <span>
                                My most favourite waifu.
                                <br />
                                You're all way in my heart
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>