<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <link href="/assets/icons/css/all.css" rel="stylesheet">
        <link href="/styles/app.css" rel="stylesheet" />
    </head>

    <body>
        {{> header}}

        <div id="container">{{{body}}}</div>

        {{> footer}}
        <script type="module" src="/js/interval.js"></script>
        <script type="module" src="/js/handleCarouselButtons.js"></script>
        <script type="module" src="/js/setCountDown.js"></script>
        <script type="module" src="/js/setSlider.js"></script>
        <script type="module" src="/js/index.js"></script>
    </body>
</html>